
langchain
dotenv
langchain-core
langchain-community
arxiv==2.1.3

langchain-openai
langchain-google-genai
langchain-groq

langchain-mistralai
langchain-huggingface

openai
google-generativeai
groq
mistralai
huggingface_hub


sentence-transformers


faiss-cpu
chromadb


pypdf
pymupdf
python-docx
unstructured
beautifulsoup4
lxml

tiktoken

python-dotenv

requests
httpx


numpy
pandas


streamlit


transformers


tqdm


langgraph


tavily-python


duckduckgo-search


wikipedia

youtube-transcript-api


html5lib


pytesseract
Pillow